<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
<title>FCC</title>
<link href="__PUBLIC__/Home1/css/css.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/Home1/fonts/css/font-awesome.min.css">   
<script src="__PUBLIC__/Home1/js/jquery-1.7.2.min.js"></script>
</head>

<body>
<style>
.lib_Menubox li{width:50%}
</style>
<div class="topz mgz"></div>
<div class="top xi40 cen bai bgGradient">交易</div>
<!--<div class="mgz cen  bgbai fcc_txt2 xi52 bai">
	<sup class="xi22 hui4">FCC</sup>239,320.00
</div>-->
<div class="fasong2  mgz xi22 cen hui4">
	<ul>
		<li><span class="xi20">矿力结算</span><span class="bai xi32 colorGradient ">500.00</span></li>
        <li><span class="xi20">矿机算力</span><span class="bai xi32 colorGradient">500.00</span></li>
	</ul>
</div>
<div class=" mgz qxt pd10">
	<img src="__PUBLIC__/Home1/images/1_4_07.jpg" /> 
</div>
<div class=" mgz hotqs hui4">
	<div class="hot_title xi22 clearfix">
    	<h2 class="f xi26">最新出售</h2>
        <span class="xisp fr xi22"><select name="" class="bd2_4 hui">
		  <option value="￥/CNY">￥/CNY</option>
		  <option value="自定">自定</option>
		  <option value="自定">自定</option>
		</select></span>
    </div>
    <div class="hot_menu">
    	<ul>
        	<li><input name="" type="text" class="bd8 f xi22 infoShadow" placeholder="请输入价格"></li>
            <li><input name="" type="text" class="bd8 f xi22 infoShadow" placeholder="总金额"></li>
            <li><input name="" type="button" class="an8 xi24 bai anbg1" value="买入"></li>
        </ul>
        <ul>
        	<li><input name="" type="text" class="bd8 f xi22 infoShadow" placeholder="数量"></li>
            <li><input name="" type="text" class="bd8 f xi22 infoShadow" placeholder="安全密码"></li>
            <li><input name="" type="button" class="an8 xi24 bai anbg2" value="卖出"></li>
        </ul>
    </div>
</div>
<div class=" mgz xsjg">
<div id="lib_Tab1" class="mgz global twoIndex ">
<div class="trade_title ">
    <h2 class="hui4 pl20 xi22">实时成交</h2>
</div>
 <div class="lib_Contentbox lib_tabborder lib_one">
   <div id="con_one_1">
   	<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#999999" class="tab2 xi22 cen mingxi2 hui4">
      <thead>
      	<tr>
        	<th>时间</th>
            <th>价格</th>
            <th>升幅</th>
        </tr>
      </thead>
      <tbody>
	  <tr >
        <td>09:50:08</td>
		<td >￥2000.00</td>
		<td class="red3">0.4508<i class="fa fa-long-arrow-up red3"></i></td>
		
	  </tr>
	  <tr >
		<td>09:50:08</td>
		<td >￥2000.00</td>
		<td class="red3">0.4508<i class="fa fa-long-arrow-up red3"></i></td>
	  </tr>
	  <tr >
		<td>09:50:08</td>
		<td >￥2000.00</td>
		<td class="green">0.4508<i class="fa fa-long-arrow-down green"></i></td>
	  </tr>
	  <tr >
		<td>09:50:08</td>
		<td >￥2000.00</td>
		<td class="red3">0.4508<i class="fa fa-long-arrow-up red3"></i></td>
	  </tr>
	  <tr >
		<td>09:50:08</td>
		<td >￥2000.00</td>
		<td class="green">0.4508<i class="fa fa-long-arrow-down green"></i></td>
	  </tr>
      </tbody>
	</table>
   	
   </div>
   
   
   
 </div>
</div>

</div>






<!--底部导航 -->
<div class="buylist_menu xi20 cen">
    <ul>
        <!-- <li class="bg1hover"><a href="index.html">首页</a></li>
        <li class="bg3"><a href="exchange2.html">明细</a></li>
		<li class="bg2"><a href="news_list.html">资讯</a></li>
		<li class="bg4"><a href="my_wallet.html">我的</a></li> -->
		<li class="bg1hover"><a href="/index/index.html">首页</a></li>
		<li class="bg3"><a href="/finance/mycj.html">帐单</a></li>
        <li class="bg2"><a href="/Article/index/id/21">资讯</a></li>
       
        <li class="bg4"><a href="/finance/index.html">我的</a></li>
    </ul>
    <!--判断hover-->
</div>
<div class="buylist_menuz mgz"></div>
<script src="__PUBLIC__/Home1/js/mjs.js"></script>
</body>
</html>