<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
<title>新闻公告</title>
<link href="css/css.css" rel="stylesheet" />
<script src="js/jquery-1.7.2.min.js"></script>
</head>

<body>
<div class="topz mgz"></div>
<div class="top xi40 cen bai">新闻公告<div class="topl"><a href="javascript:history.go(-1);"><img align="absmiddle" src="images/1_02.png" /></a></div></div>
<div class="news_list1 mgz"><img align="absmiddle" src="images/5_02.jpg" width="640" /></div>
<div class="news_show bgbai mg xi19">
	<p>摩根大通与EthLab合作创建了Quorum项目，EthLab是由以太坊核心开发者Jeffrey Wilcke联合创办。Quorum是Go以太坊客户端的‘一个极简化分叉’，同时也是‘Go的一个衍生品’。在项目介绍中摩根大通表示，Quorum每秒钟能够处理数百笔交易，还能提高隐私，因为智能合约只能由合约参与方来进行验证。</p>
	<p>Quorum的介绍中显示了一种具有4个组成部分的私有区块链架构的高层次视图。该架构中有一个网络管理人，可以通过控制访问获得一种许可网络，一种用于管理私钥的‘加密飞地’，一个用于数据存储和通讯以及用于访问加密的私人交易的交易管理人，还有一个利用核心以功能来验证和传播节点的quorumchain。</p>
</div>
<!--底部导航 -->
<div class="buylist_menu xi20 cen">
	<ul>
		<li class="bg1"><a href="asset.html">首页</a></li>
		<li class="bg2"><a href="news_list.html">资讯</a></li>
		<li class="bg3"><a href="exchange.html">明细</a></li>
		<li class="bg4hover"><a href="personal.html">我的</a></li>
	</ul>
	<!--判断hover-->
</div>
<div class="buylist_menuz mgz"></div>
<script src="js/mjs.js"></script>
</body>
</html>