<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
<title>充值中心</title>
<link href="__PUBLIC__/Home1/css/css.css" rel="stylesheet" />
<script src="__PUBLIC__/Home1/js/jquery-1.7.2.min.js"></script>
</head>
<style>
.lib_Menubox{width:285px;margin:auto;border-radius:12px;border:1px solid #0296ff;height:52px;line-height:52px;}
.lib_Menubox ul{background:none;}
.lib_Menubox li{width:50%;height:52px;line-height:52px;background:#0296ff;color:#fff;}
.lib_Menubox #one1{border-radius:10px 0  10px 0;}
.lib_Menubox #one2{border-radius:0 10px 10px 0;}
.lib_Menubox li.hover{background:none;color:#0296ff;}
</style>
<body>
<div class="topz mgz"></div>
<div class="top xi40 cen bai bgGradient">充值中心<div class="topl"><a href="javascript:history.go(-1);"><img align="absmiddle" src="__PUBLIC__/Home1/images/1_02.png" /></a></div></div>

<div class="mgz ">
<br>

</div>

<div class="mgz bgbai">
	<div class="bgbai mt20">
	<div class="address3 clearfix cen">
        <span class="colorGradient ">请扫描二维码进行充值</span>
    	<br><br>
    	<div class="cen"><img src="__PUBLIC__/Home1/images/awm2.jpg" /></div>
	</div>
    </div>
</div>
<!--底部导航 -->
<div class="buylist_menu xi20 cen">
    <ul>
        <li class="bg1"><a href="index.html">首页</a></li>
        <li class="bg2"><a href="address2.html">地址</a></li>
        <li class="bg3"><a href="power.html">算力</a></li>
        <li class="bg5hover"><a href="my_wallet.html">我的</a></li>
    </ul>
    <!--判断hover-->
</div>
<script src="__PUBLIC__/Home1/js/mjs.js"></script>

</body>
</html>